@import "../../UI/style.scss";

.authLogin {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: $darkPurple;
}
.authLogin__input {
  @include input;
}
.authLogin__button {
  @include button;
}
.authLogin__button:hover {
  transform: scale(1.2);
}
